<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome Trivago!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	    <link rel="stylesheet" type="text/css" href="{{ asset('styles/jquery-ui.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ asset('styles/jquery-ui.structure.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ asset('styles/jquery-ui.theme.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ asset('styles/bootstrap-theme.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ asset('styles/bootstrap.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ asset('styles/slider.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ asset('styles/datepicker.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/hotel-result.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/gmap-tooltip.css') }}">

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <script type="text/javascript" src="{{ asset('scripts/jquery.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('scripts/jquery-ui.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('scripts/bootstrap.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('scripts/bootstrap-datepicker.js') }}"></script>
	    <script type="text/javascript" src="{{ asset('scripts/bootstrap-slider.js') }}"></script>
        <script type="text/javascript" src="{{ asset('scripts/booking.js') }}"></script>
	    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBVcxaUpeuWn3ErTkCZT3IESGo06w28eBs&sensor=TRUE&libraries=places"></script>
        <script type="text/javascript" src="{{ asset('scripts/tooltip.js') }}"></script>
        <script type="text/javascript" src="{{ asset('scripts/tooltip_helper.js') }}"></script>

    </head>
    <body>
		{% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>